input:disabled::placeholder{

}
body{
    border: 1px solid blue;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px; /*Identación de parrafos*/
    text-transform: capitalize;
    white-space: pre-wrap;
    word-spacing: 10px;
    letter-spacing: 5mm;
    text-decoration: wavy;

}